   
   /* TABLA DE CONTENIDOS 
    0. FONTS
    1. GENERAL STYLING
    2. GRID LAYOUT
        2.1 DESKTOP
        2.2 TABLET 
        2.3 MOBILE
    3. SPECIFIC STYLING
        3.1 HEADER
        3.2 PRINCIPAL
        3.3 DE QUE SE TRATA - FORM
        3.4 NUESTROS CHEFS
        3.5 FORM 
    4. FOOTER
    5. SVG's
    */




/* ------
0. FONTS
-------*/
/* PANGOLIN >>> font-family: 'Pangolin', cursive; */
    @import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
/* NUNITO >>> font-family: 'Nunito', sans-serif; */
    @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
/* BALSAMIQ SANS >>> */
    @import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400&family=Nunito:ital,wght@0,400;0,600;1,400&display=swap');

/* TÃTULOS */
h2 {
    font-family: 'Pangolin', cursive;;
}
/* TEXTO */
body {
    font-family: 'Nunito', sans-serif; 
}


    
/* ------------------ 
1. GENERAL STYLING 
------------------ */
html {
    scroll-behavior: smooth;
  }
body {
    margin: 0px;
    color: rgb(0, 0, 0);
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
a:visited {
    text-decoration: none;
    color: inherit;
}



/* ----------- 
2. GRID LAYOUT 
------------ */

/* --- 2.1 DESKTOP --- */

/* BODY */
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 90vh auto auto auto;
    grid-template-areas:    "header" 
                            "article"
                            "article2"
                            "article3"
                            "article4"
                            "footer";
}
.article2 {
    grid-area: article2;
}
.article3 {
    grid-area: article3;
}
.article4 {
    grid-area: article4;
}

/* PRINCIPAL */
.init {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:    "entradas-snacks panes tartas-pastas carnes"
                            "guisos-sopas vegetariano salsas postres";
}
.entradas-snacks {
    grid-area: entradas-snacks;
}
.panes {
    grid-area: panes;
}
.tartas-pastas {
    grid-area: tartas-pastas;
}
.carnes {
    grid-area: carnes;
}
.guisos-sopas {
    grid-area: guisos-sopas;
}
.vegetariano {
    grid-area: vegetariano;
}
.salsas {
    grid-area: salsas;
}
.postres {
    grid-area: postres;
}

/* --- 2.2 GRID LAYOUT TABLET --- */

@media (min-width:768px) and (max-width:992px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:    "header" 
                                "article" 
                                "article2"
                                "article3"
                                "article4"
                                "footer";
    }
    .init {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:    "entradas-snacks panes"
                                "tartas-pastas carnes"
                                "guisos-sopas vegetariano" 
                                "salsas postres";
        margin: 1%;
    }
}

/* --- 2.3 GRID LAYOUT MOBILE --- */

@media (min-width:0px) and (max-width:767px) {
    body {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: auto;
        grid-template-areas:    "header" 
                                "article" 
                                "article2"
                                "article3"
                                "article4"
                                "footer";
    }
    .init {
        display: grid;
        grid-template-columns: 1fr 20fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:    ".. entradas-snacks .."
                                ".. panes .." 
                                ".. tartas-pastas .." 
                                ".. carnes .."
                                ".. guisos-sopas .." 
                                ".. vegetariano .." 
                                ".. salsas .." 
                                ".. postres ..";
        margin: 1%;
    }
}



/* ---------------- 
3. SPECIFIC STYLING 
----------------- */

/* --- 3.1 HEADER --- */
header {
    background: rgb(34, 33, 33);
    color: white;
    display: flex;
    place-items: center;
}
/* LOGO */
.logo {
    width: 40%;
    font-size: 2em;
}
.logo h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* NAV */
nav {
    width: 60%;
    list-style: none;
    display: flex;
    align-items: center;
}
nav > ul {
    width: 100%;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline-block;
    padding: 10px 0;
    margin-left: 20px;

    position: relative;
}
nav > ul > li > a::before {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color: white;

    position: absolute;
    top: 0;
    width: 0%;
    
    transition: all ease-in-out 300ms;
}
nav > ul > li > a:hover::before {
    width: 100%;
}

@media (min-width:0px) and (max-width:767px) {
    nav {
        display: none;
    }
    .logo {
        width: 100%;
    }
}

/* --- 3.2 PRINCIPAL ---*/

.platos {
    position: relative;
    border-radius: 2%; 
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(240, 238, 238);
}
.platos2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 2%;
    height: 100%;
}
.foto {
    height: 90%;
    width: 90%;
}
.titulo-foto {
    position: absolute;
    left: 50;
    bottom: 0;
    margin: 0;
    padding: 0.5%;
    color: black;
}
.platos:hover {
    opacity: 0.7;
    transition: all ease-in-out 600ms;
}

/* --- 3.3 DE QUE SE TRATA --- */
.article2 {
    background: rgb(34, 33, 33);
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:    "que-trata  que-trata  trata-foto-1";
    color: white;
    place-items: center;
}
.que-trata {
    grid-area: que-trata;
}
.trata-foto-1 {
    grid-area: trata-foto-1;
}
.article2 > div > img {
    width: 100%;
}
.article2 ul {
    list-style: none;
}
.que-trata {
    padding: 2%;
    font-size: 1.2em;
    line-height: 1.5;
    letter-spacing: 1.3;
    word-spacing: 2px;
}
blockquote {
    background: rgb(240, 238, 238);
    border-radius: 2%;
    padding: 2%;
    color: black;
}
@media (min-width:0px) and (max-width:767px) {
    .article2{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "que-trata";
    }
    .trata-foto-1 {
        display: none;
    }
    /* AGREGAR FOTO PARA DISPLAY MOBILE */
}


/* --- 3.4 NUESTROS CHEFS --- */

.grid-cocinero {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:    "titulo-cocinero titulo-cocinero"
                            "texto-cocinero foto-cocinero"
                            "recetas-cocinero foto-cocinero";
    margin: 20px;
    background: rgb(240, 238, 238);
    padding: 0.8%;
    border-radius: 1%;
}
.grid-cocinero2 {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: auto;
    grid-template-areas:    "titulo-cocinero titulo-cocinero"
                            "foto-cocinero recetas-cocinero"
                            "texto-cocinero recetas-cocinero";
    margin: 20px;
    column-gap: 3%;
    background: rgb(240, 238, 238);
    padding: 0.8%;
    border-radius: 1%;
}
.grid-cocinero a:hover, .grid-cocinero2 a:hover {
    color: rgb(85, 0, 221);
}
.titulo-cocinero {
    grid-area: titulo-cocinero;
    text-align: center;
    border-bottom: 0.1em dashed black;
    background: rgb(221, 218, 218);
}
.texto-cocinero {
    grid-area: texto-cocinero;
    padding: 1%;
}
.recetas-cocinero {
    grid-area: recetas-cocinero;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:    "sus-recetas sus-entradas sus-panes"
                            "sus-tartas sus-carnes sus-guisos"
                            "sus-vegetales sus-salsas sus-postres";
    gap: 2%;
    margin: 4%;
}
.sus-recetas{
    grid-area: sus-recetas;
    font-size: 2em;
    margin-top: 10%;
}
.sus-entradas{
    grid-area: sus-entradas;
}
.sus-panes{
    grid-area: sus-panes;
}
.sus-tartas{
    grid-area: sus-tartas;
}
.sus-carnes{
    grid-area: sus-carnes;
}
.sus-guisos{
    grid-area: sus-guisos;
}
.sus-vegetales{
    grid-area: sus-vegetales;
}
.sus-salsas{
    grid-area: sus-salsas;
}
.sus-postres{
    grid-area: sus-postres;
}
/* .recetas-cocinero {
    grid-area: recetas-cocinero;
    padding: 1%;
    font-size: 1.1em;
}
.recetas-cocinero ul {
    display: flex;
    flex-wrap: wrap;
}
.recetas-cocinero li {
    width: max(30%,200px);
    text-transform: uppercase;
}
.recetas-cocinero > ul > li {
    margin: 1%;
}*/
.foto-cocinero {
    grid-area: foto-cocinero;
    padding: 8%;
}
.foto-cocinero > img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 5px 5px 50px black;
    margin-top: 3%;
}
.cocinero-svg, .cocinero-svg-punta {
    margin: 0 5% -10px 5%;
}
@media (min-width:767px) and (max-width:1217px) {
    .cocinero-svg-punta {
        display: none;
    }
}
@media (min-width:0px) and (max-width:767px) {
    .cocinero-svg, .cocinero-svg-punta {
        display: none;
    }
}

/* FORM */
.article4 {
    display: flex;
    background: rgb(34, 33, 33);
}
.form-receta {
    width: 60%;
}
.form-foto {
    width: 40%;
}
.form-foto img {
    width: 100%;
    height: auto;
}


/* -------
4. FOOTER
-------- */
footer {
    border-top: 1px solid black;
    background-color: rgb(192, 192, 192);
}

/* ------
5. SVG's 
--------*/

.sm-svg {
    width: 20px;
    height: auto;
}
.md-svg {
    width: 50px;
    height: auto;
}
.lg-svg {
    width: 70px;
    height: auto;
}