    /* TABLA DE CONTENIDOS 
    1. SPECIFIC GRID LAYOUT
    2. HEADER
    3. NAV RECETAS
    4. RECETAS
    3.
    */




/* ----------------
1. SPECIFIC GRID LAYOUT
-------------------*/

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:    "header" 
                            "article"
                            "footer";
}



/* ------- 
2. HEADER
-------- */

.logo {
    width: 20%;
    font-size: large;
    font-size: 1.3em;
}
nav {
    width: 80%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
nav > ul {
    width: 100%;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline-block;
    padding: 10px 0 2% 0;
    margin: 10px 5px 5px 20px;

    position: relative;
}
nav > ul > li > a::before {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color: white;

    position: absolute;
    top: 0;
    width: 0%;
    
    transition: all ease-in-out 300ms;
}

nav > ul > li > a:hover::before {
    width: 100%;
}

@media (min-width:0px) and (max-width:767px) {
    nav {
        display: none;
    }
    .logo {
        width: 100%;
    }
}



/* -----------
3. NAV RECETAS 
------------ */

.menu-receta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
.carta-receta {
    width: max(20%, 250px);
    margin: 2%;
    box-shadow: 5px 5px 50px black;
}
.carta-receta img {
    object-fit: cover;
    width: 100%;
    height: 150px;
}
.carta-receta > a {
    color: white;
}
.titulo-carta {
    text-align: left;
    margin-left: 10px;
    height: 100px;
}
.boton-carta {
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    background-color: black;
}
.boton-carta:hover {
    background-color: red;
    transition: 300ms;
}



/* -------- 
4. RECETAS 
--------- */

/* GRID  DESKTOP*/
.receta {
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:    "titulo-receta titulo-receta  rinde"
                            "ingredientes  pasos          pasos"
                            "tips          pasos          pasos";
                            
    gap: 1%;
    margin: 4% 6%;
    padding: 1% 1% 2% 1%;
    background: rgb(34, 33, 33);
    border-radius: 1%;
}
.titulo-receta {
    grid-area: titulo-receta;
    background: rgb(240, 238, 238);
    border-radius: 2%;
    padding: 4%;
}
.rinde {
    grid-area: rinde;
    background: rgb(240, 238, 238);
    border-radius: 2%;
    padding: 4%;
}
.ingredientes {
    grid-area: ingredientes;
    background: rgb(240, 238, 238);
    border-radius: 2%;
    padding: 4%;
}
.pasos {
    grid-area: pasos;
    background: rgb(240, 238, 238);
    border-radius: 2%;
    padding: 4%;
}
.tips {
    grid-area: tips;
    background: rgb(240, 238, 238);
    border-radius: 2%;
    padding: 4%;
}

/* GRID MOBILE */
@media (min-width:0px) and (max-width:767px) {
    .receta {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:    "titulo-receta"
                                "rinde"
                                "ingredientes" 
                                "pasos"
                                "tips";
        gap: 2%;
        margin: 1%;
        padding: 1%;
        background-color: rgb(219, 219, 219);
        border-radius: 1%;
    }
    .foto-receta {
        display: none;
    }
}

/* RECETA */
.receta a:hover {
    color: rgb(85, 0, 221);
}
.svg {
    cursor: pointer;
}


/* RINDE */
.rinde {
    text-align: left;
    padding: 4%;
}
.rinde img {
    margin-right: 10px;
}
.rinde ul {
    list-style: none;
}


/* FOTO RECETA */


/* TABLA INGREDIENTES */
table {
    width: 90%;
    margin: 10% 5%;
    border-collapse: collapse;
}
td, th {
    border-bottom: 1px solid black;
    padding: 1%;
}
tr:nth-child(odd) {
    background-color: rgb(219, 219, 219);
}
tr:hover {
    opacity: 0.8;
}

/* PREPARACIÓN */
.pasos > p {
    text-align: left;
    line-height: 1.3;
    letter-spacing: 1.2;
    word-spacing: 1px;
}

/* TIPS */

/* -------------
BOTON RETURN TOP
--------------*/
#myBtn {
    /*display: none;  Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 10px; /* Place the button at the bottom of the page */
    right: 10px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background: rgb(34, 33, 33);
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}
#myBtn:hover {
    background-color: red; /* Add a dark-grey background on hover */
}