/* --- GENERAL STYLING --- */
body {
    margin: 0px;
    font-family: 'Balsamiq Sans', cursive;
    color: black;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}
a:visited {
    text-decoration: none;
    color: black;
}


/* --- GRID LAYOUT DESKTOP --- */

/* BODY */
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 85vh 5vh;
    grid-template-areas: "header" "article" "footer";
}

/* PRINCIPAL */
.init {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:    "entradas-snacks panes tartas-pastas carnes"
                            "guisos-sopas vegetariano salsas postres";
    margin: 1%;
}
.entradas-snacks {
    grid-area: entradas-snacks;
}
.panes {
    grid-area: panes;
}
.tartas-pastas {
    grid-area: tartas-pastas;
}
.carnes {
    grid-area: carnes;
}
.guisos-sopas {
    grid-area: guisos-sopas;
}
.vegetariano {
    grid-area: vegetariano;
}
.salsas {
    grid-area: salsas;
}
.postres {
    grid-area: postres;
}



/* --- GRID LAYOUT TABLET --- */

@media (min-width:768px) and (max-width:992px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "header" "article" "footer";
    }
    .init {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:    "entradas-snacks panes"
                                "tartas-pastas carnes"
                                "guisos-sopas vegetariano" 
                                "salsas postres";
        margin: 1%;
    }
}

/* --- GRID LAYOUT MOBILE --- */

@media (min-width:0px) and (max-width:767px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "header" "article" "footer";
    }
    .init {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:    "entradas-snacks"
                                "panes" 
                                "tartas-pastas" 
                                "carnes"
                                "guisos-sopas" 
                                "vegetariano" 
                                "salsas" 
                                "postres";
        margin: 1%;
    }
}








/* --- HEADER --- */
header {
    background-color: rgb(192, 192, 192);
    display: flex;
}
.logo {
    width: 40%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    font-size: 2em;
    text-align: center;
}
nav {
    width: 60%;
    border-bottom: 1px solid black;
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}
nav > ul {
    width: 100%;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline-block;
    padding: 10px 0;
    margin-left: 20px;

    position: relative;
}
nav > ul > li > a::before {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color: black;

    position: absolute;
    top: 0;
    width: 0%;
    
    transition: all ease-in-out 300ms;
}
nav > ul > li > a:hover::before {
    width: 100%;
}


/* --- PRINCIPAL ---*/
.platos {
    position: relative;
    border-radius: 2%; 
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(192, 192, 192);
}
.platos2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 2%;
    height: 100%;
}
.foto {
    height: 90%;
    width: 90%;
    border-radius: 2%;
}
.titulo-foto {
    position: absolute;
    left: 50;
    bottom: 0;
    margin: 0;
    padding: 0.5%;
    color: black;
}
.platos:hover {
    opacity: 0.7;
    transition: all ease-in-out 600ms;
}

/* --- FOOTER --- */
footer {
    border-top: 1px solid black;
    background-color: rgb(192, 192, 192);
}